@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* A button base shape. */
	.btn {
		@apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5;
	}

	/* A big variation of the button. */
	.btn-big {
		@apply text-md py-3 px-5;
	}
}

@layer base {
	label {
		@apply h-6 relative inline-block;
	}

	@font-face {
		font-family: 'Inria Serif';
		src: local('Inria Serif'), local('Inria_Serif'), local('InriaSerif_Regular'),
			local('inria-serif'), url('/fonts/Inria_Serif/InriaSerif-Regular.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Inria Serif';
		src: local('Inria Serif Bold'), local('InriaSerif_Bold'), local('inria-serif-bold'),
			url('/fonts/Inria_Serif/InriaSerif-Bold.ttf');
		font-weight: bold;
		font-display: swap;
	}
	@font-face {
		font-family: 'Inria Sans';
		src: local('Inria Sans'), local('Inria_Sans'), local('InriaSans_Light'), local('inria-sans'),
			url('/fonts/Inria_Sans/InriaSans-Light.ttf');
		font-weight: light;
		font-display: swap;
	}
	@font-face {
		font-family: 'Inria Sans';
		src: local('Inria Sans'), local('Inria_Sans'), local('InriaSans_Regular'), local('inria-sans'),
			url('/fonts/Inria_Sans/InriaSans-Regular.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Inria Sans';
		src: local('Inria Sans Bold'), local('InriaSans_Bold'), local('inria-sans-bold'),
			url('/fonts/Inria_Sans/InriaSans-Bold.ttf');
		font-weight: bold;
		font-display: swap;
	}

	[type='checkbox'] {
		@apply w-11 h-0 cursor-pointer inline-block;
		@apply focus:outline-0 dark:focus:outline-0;
		@apply border-0 dark:border-0;
		@apply focus:ring-offset-transparent dark:focus:ring-offset-transparent;
		@apply focus:ring-transparent dark:focus:ring-transparent;
		@apply focus-within:ring-0 dark:focus-within:ring-0;
		@apply focus:shadow-none dark:focus:shadow-none;

		@apply after:absolute before:absolute;
		@apply after:top-0 before:top-0;
		@apply after:block before:inline-block;
		@apply before:rounded-full after:rounded-full;

		@apply after:content-[''] after:w-5 after:h-5 after:mt-0.5 after:ml-0.5;
		@apply after:shadow-md after:duration-100;

		@apply before:content-[''] before:w-10 before:h-full;
		@apply before:shadow-[inset_0_0_#000];

		@apply after:bg-white dark:after:bg-gray-50;
		@apply before:bg-gray-300 dark:before:bg-gray-600;
		@apply before:checked:bg-lime-500 dark:before:checked:bg-lime-500;
		@apply checked:after:duration-300 checked:after:translate-x-4;

		@apply disabled:after:bg-opacity-75 disabled:cursor-not-allowed;
		@apply disabled:checked:before:bg-opacity-40;
	}
}
